@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Exo+2:ital,wght@0,400;0,500;0,700;1,200;1,400;1,500;1,700&family=Lexend:wght@200;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


Input {
  @apply
  bg-transparent font-lex border-white
  placeholder-gray-400
  hover:border-deco-100 hover:placeholder-deco-100
  focus:outline-none focus:border-deco-100 focus:placeholder-transparent focus:text-deco-100
  valid:text-deco-400 valid:border-deco-400 
  h-12 px-5 w-full border-b group-hover:bg-[#e8f0fe] group-disabled:bg-gray-300 disabled:bg-gray-300
}


.top-hud { 
    @apply fhd:mx-36 qhd:mx-96 
    mx-5 fixed grid  grid-cols-4 items-center top-0 left-0 right-0
    rounded-b-lg
    font-exo
    text-white
    text-sm
    md:text-xl lg:text-2xl xl:text-2xl
    border-none
}

.bottom-hud { 
    @apply fhd:mx-36 qhd:mx-96 
    mx-5 fixed grid grid-cols-3 items-center bottom-0 left-0 right-0
    rounded-b-lg
    font-exo
    font-medium
    text-white
    text-sm
    md:text-xl lg:text-2xl xl:text-2xl
    border-none
}

.hud1 {
    @apply p-1 
    bg-glass-200 text-center
    rounded-bl-lg
    border-none
    hover:bg-cyber-100
    hover:text-white
    cursor-pointer
}

.hud1con {
    @apply p-1 
    bg-glass-200 text-white
    hover:bg-solar-100 hover:text-night-100
    rounded-bl-lg
    border-none
    cursor-pointer
    px-10
  }

.hud2 {
    @apply p-1 
    bg-glass-200 text-center
    border-none
  }

  .hud3 {
    @apply p-1 
    bg-glass-200 text-center
    border-none
    hover:bg-solar-100
    hover:text-night-100
    cursor-pointer
  }
  
  .hud4 {
    @apply p-1 
    bg-glass-200 text-center
    border-none
    hover:bg-solar-100
    hover:text-night-100
    cursor-pointer
    rounded-br-lg
  }

  .huda {
    @apply p-1 
    bg-glass-200 text-center text-white
    hover:bg-solar-100 hover:text-night-100
    border-none
    rounded-tl-lg
  }

  .hudb {
    @apply p-1 
    bg-glass-200 text-center text-white
    hover:bg-solar-100 hover:text-night-100
    border-none
  }

  .hudc {
    @apply p-1 
    bg-glass-200 text-center text-white
    border-none
  }

  .hudd {
    @apply p-1 
    bg-glass-200 text-center
    border-none
    rounded-tr-lg
  }

 /* How to join */

 .joinBG {
  @apply 
  bg-glass-200 rounded-lg 
  cursor-pointer hover:bg-deco-200 hover:text-deco-900
}

.Future {
  @apply 
  bg-glass-200 rounded-lg p-5 
  cursor-pointer hover:bg-deco-100 hover:text-deco-900
}

/* Built with */
.builtBG {
  @apply 
  bg-glass-200 hover:bg-deco-100 hover:text-deco-900 rounded-lg p-5
}
/* Team */
.teamMB {
  @apply 
  p-5 text-white hover:text-solar-100 pb-32
}

/* New Place NFT */
.step {
  @apply 
  grid md:grid-cols-2 gap-5 m-5
}

.stepTitle {
  @apply
  text-3xl text-left text-center text-deco-400
  animate-pulse
}
.placeNFT {
  @apply 
  bg-glass-200 
  hover:bg-glass-500 hover:cursor-pointer
  rounded-lg py-2 md:px-5
  text-xl
  grid grid-cols-4 grid-rows-4 
}

.decoNFT {
  @apply 
  bg-glass-200
  hover:bg-glass-700 hover:cursor-pointer
  rounded-lg py-2 md:px-5
  text-xl
  grid grid-cols-4 grid-rows-4
}

.NFTasset {
  @apply
  row-span-4 col-span-4
}

.NFTlogo {
  @apply
  row-span-4 md:col-span-4
}

.NFTtitle {
  @apply
  md:col-span-4 col-span-3 row-span-4 
  text-2xl
}

.NFTdes {
  @apply
  col-span-3
  text-lg
  text-white
}

.mintButton {
  @apply
  bg-deco-100 p-3 rounded-lg 
  hover:bg-deco-400 hover:text-deco-900 hover:cursor-pointer 
}

.myVaultBT {
  @apply
  bg-deco-100 p-3 rounded-lg text-deco-900
  hover:bg-deco-900 hover:text-white hover:cursor-pointer 
}

.cityVaultBT {
  @apply
  bg-deco-400 p-3 rounded-lg text-deco-900
  hover:bg-deco-900 hover:text-white hover:cursor-pointer 
}

.verify {
  @apply
   text-center text-deco-400 animate-pulse rounded-lg
}

/* Deco Dashboard*/
.MainScreen { 
  @apply
  flex 
  items-center 
  justify-center
}

.MainBoard {
  @apply grid grid-cols-1 
  grid-rows-4
  fhd:grid-cols-12 gap-5 
  w-full fhd:h-[54rem] qhd:h-[75rem] flex 
  font-exo
  text-2xl
}

.Board1 {
  @apply text-center rounded-lg 2xl:col-span-3 
  xl:row-span-4 text-white
}
.Board2 {
  @apply bg-gradient-to-r from-glass-700 to-glass-700 text-center rounded-lg  
  2xl:col-span-6 xl:row-span-2 text-white
}

.Board3 {
  @apply bg-gradient-to-r from-glass-800 to-glass-800 text-center rounded-lg text-white 
  xl:col-span-6 xl:row-span-2
}

.PlaceBG {
  @apply 
  bg-glass-200 rounded-lg 
  hover:bg-glass-800
  cursor-pointer
}

.DecoBG {
  @apply 
  bg-glass-200 rounded-lg 
  hover:bg-glass-700
  cursor-pointer
}

.myVaultBG {
  @apply 
  bg-gradient-to-b from-glass-700 to-glass-800 rounded-lg 
  grid row-span-4
  cursor-pointer 
}


.productBG {
  @apply 
  bg-glass-700 rounded-lg 
  grid row-span-2
  cursor-pointer
}

.serviceBG {
  @apply 
  bg-glass-800 rounded-lg 
  grid row-span-2
  cursor-pointer
}