@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Exo+2:ital,wght@0,400;0,500;0,700;1,200;1,400;1,500;1,700&family=Lexend:wght@200;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


Input {
  @apply
  bg-transparent font-lex border-white
  placeholder-gray-400
  hover:border-deco-100 hover:placeholder-deco-100
  focus:outline-none focus:border-deco-100 focus:placeholder-transparent focus:text-deco-100
  valid:text-deco-400 valid:border-deco-400 
  h-12 px-5 w-full border-b group-hover:bg-[#e8f0fe] group-disabled:bg-gray-300 disabled:bg-gray-300
}

.inNum {
  @apply
  !text-deco-900 text-3xl
}

.inMatic {
  @apply
  absolute top-0  font-exo text-2xl
}

.top-hud { 
  @apply xl:mx-40 qhd:mx-96 
  mx-5 fixed grid  grid-cols-2 grid-rows-2 items-center top-0 left-0 right-0
  rounded-b-lg
  font-exo
  text-white
  text-sm
  md:text-xl lg:text-2xl xl:text-2xl xl:grid-cols-3
  border-none
}

.bottom-l-hud { 
  @apply
  fixed grid grid-cols-2 fhd:grid-cols-1 fhd:grid-rows-3 items-center 
  bottom-0 fhd:bottom-auto fhd:top-20 left-0
  font-exo
  font-medium
  text-white
  text-sm
  md:text-xl lg:text-2xl xl:text-2xl 
  border-none
}


.bottom-r-hud { 
  @apply
  fixed grid grid-cols-2 fhd:grid-cols-1 fhd:grid-rows-3 items-center
  bottom-0 fhd:bottom-auto fhd:top-20 right-0
  rounded-b-lg
  font-exo
  font-medium
  text-white
  text-sm
  md:text-xl lg:text-2xl xl:text-2xl 
  border-none
}

.hud0 {
  @apply p-1 
  bg-glass-200 text-center
  rounded-r-lg
  border-none
  hover:bg-cyber-100
  hover:text-white
  cursor-pointer
  text-sm
  md:text-xl lg:text-2xl xl:text-2xl
  px-5
}

.hud1 {
  @apply p-1 
  bg-glass-200 text-center
  rounded-bl-lg
  border-none
  hover:bg-cyber-100
  hover:text-white
  cursor-pointer
}

.hud1con {
  @apply p-1 
  bg-glass-200 text-white
  col-span-2
  xl:col-span-1 xl:rounded-bl-lg
  hover:bg-glass-700
  border-none
  cursor-pointer
  px-10
}

.hud2 {
  @apply p-1 
  bg-glass-200 text-center
  rounded-bl-lg
  xl:rounded-none
  border-none
  hover:bg-glass-700
  cursor-pointer
}

.hud3 {
  @apply p-1 
  bg-glass-200 text-center
  border-none
  hover:bg-glass-700
  cursor-pointer
}

.hud4 {
  @apply p-1 
  bg-glass-200 text-center
  border-none
  hover:bg-glass-700
  cursor-pointer
  rounded-br-lg
}

.huda {
  @apply p-1 
  bg-glass-200 text-center text-white
  hover:bg-glass-700
  border-none
  fhd:rounded-tr-lg
  cursor-pointer
  xl:px-4
}

.hudb {
  @apply p-1 
  bg-glass-200 text-center text-white
  border-none
  cursor-pointer
  rounded-tr-lg
  fhd:rounded-none
  fhd:rounded-br-lg
  hover:bg-glass-700
}

.hudc {
  @apply p-1 
  bg-glass-200 text-center
  border-none
  rounded-none
  rounded-tl-lg
  hover:bg-glass-800
  cursor-pointer
}

.hudd {
  @apply p-1 
  bg-glass-200 text-center
  border-none
  hover:bg-glass-800
  cursor-pointer
  xl:rounded-bl-lg
}

 /* How to join */

 .joinBG {
  @apply 
  bg-glass-200 rounded-lg 
  cursor-pointer hover:bg-deco-200 hover:text-deco-900
}

.Future {
  @apply 
  bg-glass-200 rounded-lg p-5 
  cursor-pointer hover:bg-deco-100 hover:text-deco-900
}

/* Built with */
.builtBG {
  @apply 
  bg-glass-200 hover:bg-deco-100 hover:text-deco-900 rounded-lg p-5
}
/* Team */
.teamMB {
  @apply 
  p-5 text-white hover:text-solar-100 pb-32
}

/* New Place NFT */
.step {
  @apply 
  grid md:grid-cols-2 gap-5 m-5 
}

.stepTitle {
  @apply
  text-3xl text-left text-center text-deco-400
  animate-pulse
}

.placeNFT {
  @apply 
  bg-glass-200 
  hover:bg-glass-500 hover:cursor-pointer
  rounded-lg py-2 md:px-5
  text-xl
  grid grid-cols-4 grid-rows-4 
}

.decoNFT {
  @apply 
  bg-glass-200
  hover:bg-glass-700 hover:cursor-pointer
  rounded-lg py-2 md:px-5
  text-xl
  grid grid-cols-4 grid-rows-4
}

.NFTasset {
  @apply
  row-span-4 col-span-4
}

.NFTlogo {
  @apply
  row-span-4 md:col-span-4
}

.NFTtitle {
  @apply
  md:col-span-4 col-span-3 row-span-4 
  text-2xl
}

.NFTdes {
  @apply
  col-span-3
  text-lg
  text-white
}

.mintButton {
  @apply
  text-white font-lex 
  bg-deco-100 p-3 rounded-lg 
  hover:bg-deco-400 hover:text-deco-900 hover:cursor-pointer 
}

.xBT {
  @apply
  bg-deco-100 rounded-tr-lg rounded-bl-lg text-deco-900
  hover:bg-deco-900 hover:text-white hover:cursor-pointer 
}

.myVaultBT {
  @apply
  bg-deco-100 rounded-lg text-deco-900
  hover:bg-deco-900 hover:text-white hover:cursor-pointer 
}

.myVaultBT2 {
  @apply
  bg-deco-400 rounded-lg text-deco-900
  hover:bg-deco-900 hover:text-white hover:cursor-pointer 
}

.productBT {
  @apply
  bg-deco-100 rounded-br-lg rounded-tl-lg text-deco-900
  hover:bg-deco-900 hover:text-white hover:cursor-pointer 
}

.cityVaultBT {
  @apply
  bg-deco-400 p-3 rounded-lg text-deco-900
  hover:bg-deco-900 hover:text-white hover:cursor-pointer 
}

.wButton {
  @apply 
  hover:bg-glass-800 rounded-lg text-center font-exo text-xl pb-5
  cursor-pointer
}

.verify {
  @apply
   text-center text-deco-400 animate-pulse rounded-lg
}

/* Deco Dashboard*/
.MainScreen { 
  @apply
  flex 
  items-center 
  justify-center
}

.MainBoard {
  @apply grid grid-cols-1 xl:grid-rows-4 xl:grid-cols-12 
  gap-5 p-5 xl:p-0
  w-full xl:h-[54rem] qhd:h-[75rem] flex 
  font-exo
  text-2xl
}

.dBoard {
  @apply grid grid-cols-1 xl:grid-rows-6  xl:grid-cols-12 
  gap-5 p-5 xl:p-0
  w-full xl:h-[54rem] qhd:h-[75rem] flex 
  font-exo
  text-2xl
}

.vBoard {
  @apply grid grid-cols-1 grid-rows-6
  fhd:grid-cols-12 gap-5 p-5 xl:p-0
  w-full fhd:h-[54rem] qhd:h-[75rem] flex 
  font-exo
  text-2xl
}

.Board1 {
  @apply bg-gradient-to-b from-glass-700 via-glass-800 to-glass-800 rounded-lg
  text-center text-white
  grid grid-rows-2
  xl:col-span-3 xl:row-span-4 
}

.Board2 {
  @apply bg-gradient-to-b from-glass-700 to-glass-800 text-center rounded-t-lg  
  xl:col-span-9 xl:row-span-2 text-white
}

.Board3 {
  @apply bg-gradient-to-b from-glass-800 to-glass-800 text-center rounded-b-lg text-white 
  xl:col-span-9 xl:row-span-2
}

.eBoard1 {
  @apply bg-gradient-to-b from-glass-700 to-glass-800 text-center rounded-lg  
  xl:col-span-12 xl:row-span-4 text-white pb-10
}

.vBoard0 {
  @apply bg-gradient-to-b from-glass-400 to-glass-200 rounded-b-lg
  text-center text-white
  grid 
  2xl:col-span-12 xl:row-span-1  xl:-mt-20 xl:pt-12
}

.vBoard1 {
  @apply bg-gradient-to-b from-glass-200 to-glass-700 rounded-lg
  text-center text-white
  2xl:col-span-6 xl:row-span-5
}

.vBoard2 {
  @apply bg-gradient-to-b from-glass-200 to-glass-800 rounded-lg
  text-center text-white
  2xl:col-span-6 xl:row-span-5
}

.assetBoard {
  @apply rounded-lg
  text-center text-white
  grid xl:grid-rows-6 gap-5
  col-span-6 row-span-6 
}

.productBoard {
  @apply rounded-lg
  text-center text-white
  grid xl:grid-rows-6 gap-5
  col-span-12 row-span-6 
}

.dataBoard {
  @apply text-left rounded-xl
  bg-gradient-to-t from-deco-900 to-glass-700
  grid grid-rows-2 fhd:grid-cols-6 grid-cols-4
  col-span-6 text-white row-span-2
}

.inventory {
  @apply bg-gradient-to-b from-glass-700 to-glass-800 text-center rounded-lg text-white 
  col-span-6 row-span-6 grid grid-rows-2 
}
.PlaceBG {
  @apply 
  bg-glass-200 rounded-lg 
  hover:bg-glass-800
  cursor-pointer
}

.DecoBG {
  @apply 
  bg-glass-200 rounded-lg 
  hover:bg-glass-700
  cursor-pointer
}

.selDecoBG {
  @apply 
  bg-glass-800 rounded-lg 
  hover:bg-glass-800
  cursor-pointer
}

.myVaultBG {
  @apply 
  bg-gradient-to-b from-glass-700 to-glass-800 rounded-lg 
  grid row-span-4
  cursor-pointer 
}

.productBG {
  @apply 
  bg-glass-700 rounded-lg 
  grid row-span-2
  cursor-pointer
}

.serviceBG {
  @apply 
  bg-glass-800 rounded-lg 
  grid row-span-2
  cursor-pointer
}

.vAssetBG {
  @apply
  row-span-3 grid grid-cols-12 pt-6
}

.vAssetBG1 {
  @apply
  row-span-3 grid grid-cols-12 pt-6 bg-glass-100
}

.assetBG {
  @apply
  text-base
  xl:text-2xl
  bg-glass-700 rounded-lg xl:pt-6 xl:py-0 py-3 
}

.wTitle {
  @apply
  font-lex font-bold text-3xl text-left text-center text-deco-900
  animate-pulse
}

.bigNumber {
  @apply
  text-3xl text-center
  fhd:text-4xl
  col-span-2
}

.bigIcon {
  @apply
  text-xl text-center
  fhd:text-7xl
  xl:pt-3
}

.numDesc {
  @apply
  fhd:text-lg
  col-span-5 pt-3 pl-3
  fhd:text-2xl
  col-span-5 pt-3 pl-3
}

/* SLIDE ANIMATION CLASSES */
/* during entering and leaving : */
.slide-enter-active, .slide-leave-active {
  /* max-width:725.328px; make sur our content keep it's original width */
  /* width: 1; */
  @apply transform-gpu transition-transform duration-500
}

/* entering start */
.slide-enter {
  @apply translate-x-full
}

/* entering end */
.slide-enter-to {
  @apply translate-x-0
}

/* leaving start */
.slide-leave {
  @apply translate-x-0
}

/* leaving end */
.slide-leave-to {
  @apply -translate-x-full
}